{"openapi":"3.0.1","info":{"title":"BTFA.Anteckning","description":"Version: 1.2.8, Build: 8543.15421, Build time: 2023-05-23 08:34:02 (UTC+01:00)","version":"v1"},"servers":[{"url":"https://apim.naturvardsverket.se/btfa/anteckning/v1"},{"url":"http://apim.naturvardsverket.se/btfa/anteckning/v1"}],"security":[{"default":[]}],"paths":{"/anteckningar":{"get":{"tags":["anteckningar"],"summary":"Hämtar samtliga anteckningstyper innehållande all data. \r\nDet går endast att hämta sina egna anteckningar d.v.s. där VU eller ombud stämmer överens med det egna organisationsnumret.\r\nFungerar Endast i AT miljö.","parameters":[{"name":"DatumTidFran","in":"query","description":"Filtrerar bort anteckningar inskickade innan datumet","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"date-time"}},{"name":"DatumTidTom","in":"query","description":"Filtrerar bort anteckningar inskickade efter datumet","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"date-time"}},{"name":"MaxAntalPerSida","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32"}},{"name":"Sida","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.Base.Response.AnteckningarContainer"}},"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.Base.Response.AnteckningarContainer"}},"text/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.Base.Response.AnteckningarContainer"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"},"delete":{"tags":["anteckningar"],"summary":"Makulerar en anteckning.\r\nAnge avfalls unika id och makuleringsorsak (FelAvfall, FelAnteckningstyp, FelVU, SkickatDubbelt)","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.MakuleraAnteckning"}}}},"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/anteckningar/{avfallid}":{"get":{"tags":["anteckningar"],"summary":"Hämtar en anteckning för ett AvfallId.\r\nFungerar Endast i AT miljö.","parameters":[{"name":"avfallid","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{}},"application/json":{"schema":{}},"text/json":{"schema":{}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.NotFound"}},"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.NotFound"}},"text/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.NotFound"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/anteckningstyper":{"get":{"tags":["anteckningstyper"],"summary":"Värdeförråd för anteckningstyper.","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Anteckningstyp"}}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/atervinningsresultattyper":{"get":{"tags":["atervinningsresultattyper"],"summary":"Värdeförråd för återvinningsresultattypkod, som används för typ av återvinningsresultat gällande behandlingsresultat av spillolja.","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AtervinningsresultatTyp"}}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/atervinningsresultattyper/{atervinningsresultatkod}":{"get":{"tags":["atervinningsresultattyper"],"summary":"En återvinningsresultattypkod, som används för typ av återvinningsresultat gällande behandlingsresultat av spillolja.","parameters":[{"name":"atervinningsresultatkod","in":"path","description":"","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AtervinningsresultatTyp"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.NotFound"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/avfallstyper":{"get":{"tags":["avfallstyper"],"summary":"Värdeförråd för avfallstyper enligt EWC.","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Avfallstyp"}}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/behandlingsmetoder":{"get":{"tags":["behandlingsmetoder"],"summary":"Värdeförråd för behandlingsmetoder (R- och D-koder). Metoderna kan \r\nfiltreras på D (Disposal), R (Recycling) eller A (alla).","parameters":[{"name":"filter","in":"query","description":"D (Disposal), R (Recycling) eller A (alla)","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/BTAvfall.REST.API.BehandlingsMetodFilter"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Behandlingsmetod"}}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/behandlingsmottaganden":{"post":{"tags":["behandlingsmottaganden"],"summary":"Registrerar en anteckning gällande mottagning av farligt avfall för behandling\r\nenligt SFS 2020:614 Kap 6 § 5.1.","requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Anteckningar.Behandlingsmottagning"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AntecknaSvar"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Felsvar"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/behandlingsmottaganden/{id}":{"put":{"tags":["behandlingsmottaganden"],"summary":"Uppdaterar en tidigare registrerad anteckning gällande mottagning av farligt avfall för behandling\r\nenligt SFS 2020:614 Kap 6 § 5.1.","parameters":[{"name":"id","in":"path","description":"Avfallsid","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Anteckningar.Behandlingsmottagning"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AntecknaSvar"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Felsvar"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/behandlingsoverlamningar":{"post":{"tags":["behandlingsoverlamningar"],"summary":"Registrerar en anteckning gällande transport av farligt avfall som \r\nuppstått efter behandling enligt SFS 2020:614 Kap 6 § 5.3.","requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Anteckningar.Behandlingsoverlamning"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AntecknaSvar"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Felsvar"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/behandlingsoverlamningar/{id}":{"put":{"tags":["behandlingsoverlamningar"],"summary":"Uppdaterar en tidigare registrerad anteckning gällande transport av farligt avfall som \r\nuppstått efter behandling enligt SFS 2020:614 Kap 6 § 5.3.","parameters":[{"name":"id","in":"path","description":"Avfallsid","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Anteckningar.Behandlingsoverlamning"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AntecknaSvar"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Felsvar"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/behandlingsresultat":{"post":{"tags":["behandlingsresultat"],"summary":"Registrerar en anteckning gällande resultat av behandling av farligt avfall\r\nenligt SFS 2020:614 Kap 6 § 5.2. Detta rapporteras kvartalsvis.","requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Anteckningar.Behandlingsresultat"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AntecknaSvar"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Felsvar"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/behandlingsresultat/{id}":{"put":{"tags":["behandlingsresultat"],"summary":"Uppdaterar en tidigare registrerad anteckning gällande resultat av behandling \r\nav farligt avfall enligt SFS 2020:614 Kap 6 § 5.2.","parameters":[{"name":"id","in":"path","description":"Avfallsid","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Anteckningar.Behandlingsresultat"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AntecknaSvar"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Felsvar"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/handel":{"post":{"tags":["handel"],"summary":"Registrerar en anteckning gällande handel med farligt avfall\r\nenligt SFS 2020:614 Kap 6 § 4.","requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Anteckningar.Handel"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AntecknaSvar"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Felsvar"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/handel/{id}":{"put":{"tags":["handel"],"summary":"Uppdaterar en tidigare registrerad anteckning gällande handel med farligt avfall\r\nenligt SFS 2020:614 Kap 6 § 4.","parameters":[{"name":"id","in":"path","description":"Avfallsid","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Anteckningar.Handel"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AntecknaSvar"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Felsvar"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/insamlingar":{"post":{"tags":["insamlingar"],"summary":"Registrerar en anteckning gällande mottagning av farligt avfall för insamling och sortering\r\nenligt SFS 2020:614 Kap 6 § 3.1.","requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Anteckningar.InsamlingsMottagning"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AntecknaSvar"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Felsvar"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/insamlingar/{id}":{"put":{"tags":["insamlingar"],"summary":"Uppdaterar en tidigare registrerad anteckning gällande mottagning av farligt avfall för insamling och sortering\r\nenligt SFS 2020:614 Kap 6 § 3.1.","parameters":[{"name":"id","in":"path","description":"Avfallsid","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Anteckningar.InsamlingsMottagning"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AntecknaSvar"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Felsvar"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/insamlingstransport":{"post":{"tags":["insamlingstransport"],"summary":"Registrerar en anteckning gällande transport av farligt avfall efter insamling och sortering\r\nenligt SFS 2020:614 Kap 6 § 3.2.","requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Anteckningar.InsamlingsTransport"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AntecknaSvar"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Felsvar"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/insamlingstransport/{id}":{"put":{"tags":["insamlingstransport"],"summary":"Uppdaterar en tidigare registrerad anteckning gällande transport av farligt avfall efter insamling och sortering\r\nenligt SFS 2020:614 Kap 6 § 3.2.","parameters":[{"name":"id","in":"path","description":"Avfallsid","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Anteckningar.InsamlingsTransport"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AntecknaSvar"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Felsvar"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/transporter":{"post":{"tags":["transporter"],"summary":"Registrerar en anteckning gällande transport av farligt avfall \r\nenligt SFS 2020:614 Kap 6 § 2.","requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Anteckningar.Transport"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AntecknaSvar"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.Middlewares.Models.InputValidationErrorDetails"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/transporter/{id}":{"put":{"tags":["transporter"],"summary":"Uppdaterar en tidigare registrerad anteckning gällande transport av farligt avfall \r\nenligt SFS 2020:614 Kap 6 § 2.","parameters":[{"name":"id","in":"path","description":"Avfallsid","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Anteckningar.Transport"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AntecknaSvar"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Felsvar"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/transportplaneringar":{"post":{"tags":["transportplaneringar"],"summary":"Registrerar en anteckning gällande uppkomst av farligt avfall och planerad transport av detta\r\nenligt SFS 2020:614 Kap 6 § 1.","requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Anteckningar.Transportplanering"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AntecknaSvar"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Felsvar"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/transportplaneringar/{id}":{"put":{"tags":["transportplaneringar"],"summary":"Uppdaterar en tidigare registrerad anteckning gällande uppkomst av farligt avfall och planerad transport av detta\r\nenligt SFS 2020:614 Kap 6 § 1.","parameters":[{"name":"id","in":"path","description":"Avfallsid","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Anteckningar.Transportplanering"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.AntecknaSvar"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Felsvar"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/transportsatt":{"get":{"tags":["transportsatt"],"summary":"Värdeförråd för transportsätt.","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Transportmedel"}}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}}},"components":{"schemas":{"BTAvfall.Business.Exceptions.InputValidationError":{"type":"object","properties":{"message":{"type":"string","nullable":true},"code":{"type":"integer","format":"int32"}}},"BTAvfall.Middlewares.Models.InputValidationErrorDetails":{"type":"object","properties":{"title":{"type":"string","nullable":true},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string","nullable":true},"traceId":{"type":"string","nullable":true},"errors":{"type":"array","nullable":true,"items":{"$ref":"#/components/schemas/BTAvfall.Business.Exceptions.InputValidationError"}}}},"BTAvfall.PublicModels.Base.Response.Anteckning":{"required":["anteckningsDatum","anteckningstyp","anteckningstypBeskrivning","avfall","id","inkommenTidpunkt","verksamhetensKontaktpersonEpost","verksamhetensKontaktpersonNamn","verksamhetensKontaktpersonTelefonnummer","verksamhetensNamn","verksamhetsutovare"],"type":"object","properties":{"id":{"type":"string","description":"Anteckningens unika id.","format":"uuid"},"anteckningsDatum":{"type":"string","description":"Datum och klockslag då anteckningen gjordes hos verksamhetsutövaren.","format":"date-time"},"avfall":{"$ref":"#/components/schemas/BTAvfall.PublicModels.Base.Response.Avfall"},"referens":{"type":"string","description":"Löpnummer eller signatur i verksamhetsutövarens system för härledning av den person som gjort anteckningen.","nullable":true},"inkommenTidpunkt":{"type":"string","description":"Tidpunkt när anteckningen registrerades.","format":"date-time"},"anteckningstyp":{"type":"integer","description":"Ett id för anteckningstypen.","format":"int32"},"anteckningstypBeskrivning":{"type":"string","description":"En beskrivning av anteckningstypen."},"ersattAv":{"type":"string","description":"Ett id som pekar på anteckning som denna har ersatt.","format":"uuid","nullable":true},"foregaendeVersion":{"type":"string","description":"Föregående antecknings version.","format":"uuid","nullable":true},"uppgiftslamnare":{"type":"string","description":"Uppgiftslamnare i E-tjänsten (persnr/id).","nullable":true},"uppgiftslamnarensNamn":{"type":"string","description":"Uppgiftslamnare i E-tjänsten (namn).","nullable":true},"uppgiftslamnarensEpost":{"type":"string","description":"Uppgiftslamnare i E-tjänsten (e-postaddress).","nullable":true},"uppgiftslamnarensTelefonnummer":{"type":"string","description":"Uppgiftslamnare i E-tjänsten (telefonnummer).","nullable":true},"verksamhetsutovare":{"type":"string","description":"Den verksamhet som är anteckningsskyldig för att ha hanterat eller transporterat avfallet (orgnr/persnr)."},"verksamhetensNamn":{"type":"string","description":"Namnet på verksamheten (företaget)."},"verksamhetensKontaktpersonNamn":{"type":"string","description":"Verksamhetens kontaktperson (namn)."},"verksamhetensKontaktpersonEpost":{"type":"string","description":"Verksamhetens kontaktperson (e-postaddress)."},"verksamhetensKontaktpersonTelefonnummer":{"type":"string","description":"Verksamhetens kontaktperson (telefonnummer)"},"ombud":{"type":"string","description":"Den verksamhet som registrerat in anteckningen i verksamhetsutövarens ställe (orgnr/persnr).","nullable":true},"ombudetsNamn":{"type":"string","description":"Ombudets (företagets) namn.","nullable":true},"ombudetsKontaktpersonNamn":{"type":"string","description":"Ombudets kontaktperson (namn).","nullable":true},"ombudetsKontaktpersonEpost":{"type":"string","description":"Ombudets kontaktperson (epost).","nullable":true},"ombudetsKontaktpersonTelefonnummer":{"type":"string","description":"Ombudets kontaktperson (telefonnummer).","nullable":true},"validationMsg":{"type":"string","description":"Valideringsfel som förekommer i anteckningen.","nullable":true},"makuleradOrsak":{"$ref":"#/components/schemas/BTAvfall.PublicModels.Base.Response.MakuleringsOrsak"},"makuleradAv":{"type":"string","description":"Den som makulerade anteckningen.","nullable":true},"foregaendeAvfallsid":{"type":"string","format":"uuid","nullable":true},"ersattAvAvfallsid":{"type":"string","format":"uuid","nullable":true}}},"BTAvfall.PublicModels.Base.Response.AnteckningarContainer":{"type":"object","properties":{"antalRader":{"type":"integer","format":"int32"},"antalPerSida":{"type":"integer","format":"int32"},"sida":{"type":"integer","format":"int32"},"antalSidor":{"type":"integer","format":"int32"},"anteckningar":{"type":"array","description":"En lista med Anteckningar. Måste vara av typen object för \r\natt subklasser till Anteckning ska komma ut rätt i response.","nullable":true,"items":{"$ref":"#/components/schemas/BTAvfall.PublicModels.Base.Response.Anteckning"}}}},"BTAvfall.PublicModels.Base.Response.Avfall":{"required":["avfallId","avfallstypBeskrivning","farligt","kod","mangd"],"type":"object","properties":{"avfallId":{"type":"string","description":"Ett maskingenererat identifikationsnummer för varje avfallsmängd som antecknats.","format":"uuid"},"mangd":{"type":"number","description":"Mängd avfall i kg med upp till tre decimaler (g).","format":"double","example":20},"foregaendeAvfallId":{"type":"string","description":"Det avfallsid för den unika avfallsmängd som registrerades i närmast föregående anteckning.","nullable":true},"kod":{"type":"string","description":"En 6-siffrig EWC-kod."},"farligt":{"type":"boolean","description":"Om avfallet betecknas som farligt."},"avfallstypBeskrivning":{"type":"string","description":"En text som beskriver avfallet."}}},"BTAvfall.PublicModels.Base.Response.MakuleringsOrsak":{"type":"object","properties":{"kod":{"type":"integer","description":"FelAvfall = 1, \r\nFelAnteckningstyp = 2, \r\nFelVU = 3, \r\nSkickatDubbelt = 4","format":"int32"},"beskrivning":{"type":"string","description":"En beskrivning av Koden.","nullable":true}}},"BTAvfall.PublicModels.V1.Request.Adress":{"type":"object","properties":{"adressrad":{"type":"string","description":"En gatuadress inom Sverige.\r\n<br>Max 250 tecken. Regex ^[0-9A-Za-zÅÄÖÜÉåäöüé.,?:\\-\\/()&+− ']{0,250}$","nullable":true},"postnummer":{"type":"string","description":"Ett postnummer inom Sverige, 5 siffor utan blankslag.","nullable":true}},"description":"En adress inom Sverige."},"BTAvfall.PublicModels.V1.Request.Anteckningar.Behandlingsmottagning":{"required":["avfall","behandlingsPlats","mottagningsDatum","senasteHanteringsplats","tidigareInnehavare","tidpunkt","verksamhetensKontaktpersonEpost","verksamhetensKontaktpersonNamn","verksamhetensKontaktpersonTelefonnummer","verksamhetensNamn","verksamhetsutovare"],"type":"object","properties":{"tidpunkt":{"type":"string","description":"Datum och klockslag då anteckningen gjordes hos verksamhetsutövaren.","format":"date-time"},"ombud":{"type":"string","description":"Det företag (orgnr) eller person (persnr) som registrerat in anteckningen i verksamhetsutövarens ställe. \r\n<ul><li>När verksamhetsutövare är rapportör skall ombud ej anges.</li><li>När verksamhetsutövare inte är rapportör måste ombud anges, orgnummret \r\nmåste också stämma överens med certifikatet i detta fall.</li></ul>\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$","nullable":true},"ombudetsNamn":{"type":"string","description":"Ombudets namn (företagsnamn).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 tecken. Regex ^[0-9A-Za-zÅÄÖÜÉåäöüé.,?:\\-/()&+− ']{0,250}$","nullable":true},"ombudetsKontaktpersonNamn":{"type":"string","description":"Ombudets kontaktperson (namn)\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 texten. Regex ^[A-Za-zÀ-ÖØ-öø-ž,-.: ']{0,250}$","nullable":true},"ombudetsKontaktpersonEpost":{"type":"string","description":"Ombudets kontaktperson (epost).\r\nObligatoriskt om ombud är ifyllt.\r\nMax 250 tecken. Valideras.","nullable":true},"ombudetsKontaktpersonTelefonnummer":{"type":"string","description":"Ombudets kontaktperson (telefonnummer).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Regex ^((\\+\\d{2,3}[-\\s]?[1-9][-\\s]?(\\d[-\\s]?){1,10}\\d$)|((\\d[-\\s]?){1,11}\\d))","nullable":true},"verksamhetsutovare":{"type":"string","description":"Den som är anteckningsskyldig (orgnr) för att ha hanterat eller transporterat avfallet.\r\n<strong>Obs! Orgnumret måste stämma överens med orgnummer i SSL certifikatet eller måste Ombud stämma \r\növerens med orgnummer i SSL certifikatet.</strong>\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"verksamhetensNamn":{"type":"string","description":"Verksamhetens namn (företag).\r\n<br>Max 250 tecken. Regex ^[0-9A-Za-zÅÄÖÜÉåäöüé.,?:\\-/()&+− ']{0,250}$"},"verksamhetensKontaktpersonNamn":{"type":"string","description":"Verksamhetens kontaktperson (namn).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 texten. Regex ^[A-Za-zÀ-ÖØ-öø-ž,-.: ']{0,250}$"},"verksamhetensKontaktpersonEpost":{"type":"string","description":"Verksamhetens kontaktperson (epost).\r\nMax 250 tecken. Valideras."},"verksamhetensKontaktpersonTelefonnummer":{"type":"string","description":"Verksamhetens kontaktperson (telefonnummer).\r\n<br>Regex ^((\\+\\d{2,3}[-\\s]?[1-9][-\\s]?(\\d[-\\s]?){1,10}\\d$)|((\\d[-\\s]?){1,11}\\d))"},"referens":{"type":"string","description":"Löpnummer eller signatur i verksamhetsutövarens system för härledning av den \r\nperson som gjort anteckningen. Syftet är främst att underlätta felsökning.\r\nMax 40 tecken. Regex ^[a-zA-Z0-9äÄöÖåÅÀàÁáÃãËëÉéÈèÊêÂâÍíÎîÏï\\s\\,\\.\\-\\&/\\\"\"_()?]{0,40}$","nullable":true},"avfall":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Avfall"},"mottagningsDatum":{"type":"string","description":"Datum när avfallet togs emot (ex för behandling).","format":"date-time"},"tidigareInnehavare":{"type":"string","description":"Verksamhetsutövare (orgnr, persnr, VAT-nr) som var senaste innehavare av avfallet.\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>\r\nMax 14 tecken. \r\nRegex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$\r\n"},"senasteHanteringsplats":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Plats"},"behandlingsPlats":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Plats"}},"description":"En anteckning gällande mottagning av farligt avfall för behandling\r\nenligt SFS 2020:614 Kap 6 § 5.1."},"BTAvfall.PublicModels.V1.Request.Anteckningar.Behandlingsoverlamning":{"required":["avfall","borttransportDatum","mottagningsplats","nyInnehavare","tidpunkt","transportor","verksamhetensKontaktpersonEpost","verksamhetensKontaktpersonNamn","verksamhetensKontaktpersonTelefonnummer","verksamhetensNamn","verksamhetsutovare"],"type":"object","properties":{"tidpunkt":{"type":"string","description":"Datum och klockslag då anteckningen gjordes hos verksamhetsutövaren.","format":"date-time"},"ombud":{"type":"string","description":"Det företag (orgnr) eller person (persnr) som registrerat in anteckningen i verksamhetsutövarens ställe. \r\n<ul><li>När verksamhetsutövare är rapportör skall ombud ej anges.</li><li>När verksamhetsutövare inte är rapportör måste ombud anges, orgnummret \r\nmåste också stämma överens med certifikatet i detta fall.</li></ul>\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$","nullable":true},"ombudetsNamn":{"type":"string","description":"Ombudets namn (företagsnamn).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 tecken. Regex ^[0-9A-Za-zÅÄÖÜÉåäöüé.,?:\\-/()&+− ']{0,250}$","nullable":true},"ombudetsKontaktpersonNamn":{"type":"string","description":"Ombudets kontaktperson (namn)\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 texten. Regex ^[A-Za-zÀ-ÖØ-öø-ž,-.: ']{0,250}$","nullable":true},"ombudetsKontaktpersonEpost":{"type":"string","description":"Ombudets kontaktperson (epost).\r\nObligatoriskt om ombud är ifyllt.\r\nMax 250 tecken. Valideras.","nullable":true},"ombudetsKontaktpersonTelefonnummer":{"type":"string","description":"Ombudets kontaktperson (telefonnummer).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Regex ^((\\+\\d{2,3}[-\\s]?[1-9][-\\s]?(\\d[-\\s]?){1,10}\\d$)|((\\d[-\\s]?){1,11}\\d))","nullable":true},"verksamhetsutovare":{"type":"string","description":"Den som är anteckningsskyldig (orgnr) för att ha hanterat eller transporterat avfallet.\r\n<strong>Obs! Orgnumret måste stämma överens med orgnummer i SSL certifikatet eller måste Ombud stämma \r\növerens med orgnummer i SSL certifikatet.</strong>\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"verksamhetensNamn":{"type":"string","description":"Verksamhetens namn (företag).\r\n<br>Max 250 tecken. Regex ^[0-9A-Za-zÅÄÖÜÉåäöüé.,?:\\-/()&+− ']{0,250}$"},"verksamhetensKontaktpersonNamn":{"type":"string","description":"Verksamhetens kontaktperson (namn).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 texten. Regex ^[A-Za-zÀ-ÖØ-öø-ž,-.: ']{0,250}$"},"verksamhetensKontaktpersonEpost":{"type":"string","description":"Verksamhetens kontaktperson (epost).\r\nMax 250 tecken. Valideras."},"verksamhetensKontaktpersonTelefonnummer":{"type":"string","description":"Verksamhetens kontaktperson (telefonnummer).\r\n<br>Regex ^((\\+\\d{2,3}[-\\s]?[1-9][-\\s]?(\\d[-\\s]?){1,10}\\d$)|((\\d[-\\s]?){1,11}\\d))"},"referens":{"type":"string","description":"Löpnummer eller signatur i verksamhetsutövarens system för härledning av den \r\nperson som gjort anteckningen. Syftet är främst att underlätta felsökning.\r\nMax 40 tecken. Regex ^[a-zA-Z0-9äÄöÖåÅÀàÁáÃãËëÉéÈèÊêÂâÍíÎîÏï\\s\\,\\.\\-\\&/\\\"\"_()?]{0,40}$","nullable":true},"avfall":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Avfall"},"borttransportDatum":{"type":"string","description":"Datum för borttransport.","format":"date-time"},"transportor":{"type":"string","description":"Transportörens orgnr.\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"nyInnehavare":{"type":"string","description":"Det företag (orgnr) eller person (persnr) som mottager avfallet vid transportens destination.\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"mottagningsplats":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Plats"},"transportsatt":{"type":"string","description":"Med vilket medel en transport genomförs, identifieras med transportmedeltyp (en bokstav).\r\n<dl><dt>R</dt><dd>Vägtransport</dd><dt>T</dt><dd>Järnvägstransport</dd><dt>S</dt><dd>Sjötransport</dd><dt>A</dt><dd>Flygtransport</dd><dt>W</dt><dd>Inlandssjöfart</dd><dt>P</dt><dd>Rörledning</dd></dl>","nullable":true}},"description":"En anteckning gällande transport av farligt avfall som \r\nuppstått efter behandling enligt SFS 2020:614 Kap 6 § 5.3."},"BTAvfall.PublicModels.V1.Request.Anteckningar.Behandlingsresultat":{"required":["avfall","behandlingar","rapporteringsar","rapporteringskvartalNr","tidpunkt","verksamhetensKontaktpersonEpost","verksamhetensKontaktpersonNamn","verksamhetensKontaktpersonTelefonnummer","verksamhetensNamn","verksamhetsutovare"],"type":"object","properties":{"tidpunkt":{"type":"string","description":"Datum och klockslag då anteckningen gjordes hos verksamhetsutövaren.","format":"date-time"},"ombud":{"type":"string","description":"Det företag (orgnr) eller person (persnr) som registrerat in anteckningen i verksamhetsutövarens ställe. \r\n<ul><li>När verksamhetsutövare är rapportör skall ombud ej anges.</li><li>När verksamhetsutövare inte är rapportör måste ombud anges, orgnummret \r\nmåste också stämma överens med certifikatet i detta fall.</li></ul>\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$","nullable":true},"ombudetsNamn":{"type":"string","description":"Ombudets namn (företagsnamn).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 tecken. Regex ^[0-9A-Za-zÅÄÖÜÉåäöüé.,?:\\-/()&+− ']{0,250}$","nullable":true},"ombudetsKontaktpersonNamn":{"type":"string","description":"Ombudets kontaktperson (namn)\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 texten. Regex ^[A-Za-zÀ-ÖØ-öø-ž,-.: ']{0,250}$","nullable":true},"ombudetsKontaktpersonEpost":{"type":"string","description":"Ombudets kontaktperson (epost).\r\nObligatoriskt om ombud är ifyllt.\r\nMax 250 tecken. Valideras.","nullable":true},"ombudetsKontaktpersonTelefonnummer":{"type":"string","description":"Ombudets kontaktperson (telefonnummer).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Regex ^((\\+\\d{2,3}[-\\s]?[1-9][-\\s]?(\\d[-\\s]?){1,10}\\d$)|((\\d[-\\s]?){1,11}\\d))","nullable":true},"verksamhetsutovare":{"type":"string","description":"Den som är anteckningsskyldig (orgnr) för att ha hanterat eller transporterat avfallet.\r\n<strong>Obs! Orgnumret måste stämma överens med orgnummer i SSL certifikatet eller måste Ombud stämma \r\növerens med orgnummer i SSL certifikatet.</strong>\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"verksamhetensNamn":{"type":"string","description":"Verksamhetens namn (företag).\r\n<br>Max 250 tecken. Regex ^[0-9A-Za-zÅÄÖÜÉåäöüé.,?:\\-/()&+− ']{0,250}$"},"verksamhetensKontaktpersonNamn":{"type":"string","description":"Verksamhetens kontaktperson (namn).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 texten. Regex ^[A-Za-zÀ-ÖØ-öø-ž,-.: ']{0,250}$"},"verksamhetensKontaktpersonEpost":{"type":"string","description":"Verksamhetens kontaktperson (epost).\r\nMax 250 tecken. Valideras."},"verksamhetensKontaktpersonTelefonnummer":{"type":"string","description":"Verksamhetens kontaktperson (telefonnummer).\r\n<br>Regex ^((\\+\\d{2,3}[-\\s]?[1-9][-\\s]?(\\d[-\\s]?){1,10}\\d$)|((\\d[-\\s]?){1,11}\\d))"},"referens":{"type":"string","description":"Löpnummer eller signatur i verksamhetsutövarens system för härledning av den \r\nperson som gjort anteckningen. Syftet är främst att underlätta felsökning.\r\nMax 40 tecken. Regex ^[a-zA-Z0-9äÄöÖåÅÀàÁáÃãËëÉéÈèÊêÂâÍíÎîÏï\\s\\,\\.\\-\\&/\\\"\"_()?]{0,40}$","nullable":true},"avfall":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Avfall"},"rapporteringsar":{"type":"integer","description":"År som redovisas.","format":"int32","example":2021},"rapporteringskvartalNr":{"type":"integer","description":"Kvartal som redovisas för året, 1–4.","format":"int32","example":1},"behandlingar":{"type":"array","description":"Behandlingsmetoder som har använts för att genomföra behandlingen.","items":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Behandling"}},"mangdIckeFarligtAvfall":{"type":"number","description":"Mängd avfall i kg som uppstått som uppstått till följd av behandling\r\nsom inte är markerat som farligt.\r\nAnges om MangdMaterialProdukt inte anges. <br>Max 3 decimaler.","format":"double","example":24.5},"mangdMaterialProdukt":{"type":"number","description":"Mängd material eller produkt i kg som uppstått till följd av behandling.\r\nAnges om MangdIckeFarligtAvfall inte anges. <br>Max 3 decimaler.","format":"double","example":50},"atervinningsresultattypkod":{"type":"string","description":"Typ av resultat av återvinning (om avfallet är spillolja).","nullable":true},"mangdRegenerering":{"type":"number","description":"Mängd avfall i kg som regenererats (om avfallet är spillolja).\r\n<br>Max 3 decimaler.","format":"double","nullable":true,"example":24.5},"mangdAnnanMaterialatervinning":{"type":"number","description":"Mängd avfall i kg som återvunnits på annat vis (om avfallet är spillolja).\r\n<br>Max 3 decimaler.","format":"double","nullable":true,"example":24.5},"mangdEnergiatervinning":{"type":"number","description":"Mängd avfall i kg som återvunnits som energi (om avfallet är spillolja).\r\n<br>Max 3 decimaler.","format":"double","nullable":true,"example":24.5},"mangdBortskaffande":{"type":"number","description":"Mängd avfall i kg som återvunnits genom bortskaffande (om avfallet är spillolja).\r\n<br>Max 3 decimaler.","format":"double","nullable":true,"example":24.5},"specifikationAnnan":{"type":"string","description":"Specifikation av övrigt om typ av resultat (om avfallet är spillolja).\r\n<br>Max 100 tecken. Regex ^[a-zA-Z0-9äÄöÖåÅÀàÁáÃãËëÉéÈèÊêÂâÍíÎîÏï\\s\\,\\.\\-\\&/\\\"\"_()?]{1,100}","nullable":true}},"description":"En anteckning gällande resultat av behandling av farligt avfall\r\nenligt SFS 2020:614 Kap 6 § 5.2."},"BTAvfall.PublicModels.V1.Request.Anteckningar.Handel":{"required":["avfall","nyInnehavare","tidigareInnehavare","tidpunkt","transaktionsDatum","verksamhetensKontaktpersonEpost","verksamhetensKontaktpersonNamn","verksamhetensKontaktpersonTelefonnummer","verksamhetensNamn","verksamhetsutovare"],"type":"object","properties":{"tidpunkt":{"type":"string","description":"Datum och klockslag då anteckningen gjordes hos verksamhetsutövaren.","format":"date-time"},"ombud":{"type":"string","description":"Det företag (orgnr) eller person (persnr) som registrerat in anteckningen i verksamhetsutövarens ställe. \r\n<ul><li>När verksamhetsutövare är rapportör skall ombud ej anges.</li><li>När verksamhetsutövare inte är rapportör måste ombud anges, orgnummret \r\nmåste också stämma överens med certifikatet i detta fall.</li></ul>\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$","nullable":true},"ombudetsNamn":{"type":"string","description":"Ombudets namn (företagsnamn).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 tecken. Regex ^[0-9A-Za-zÅÄÖÜÉåäöüé.,?:\\-/()&+− ']{0,250}$","nullable":true},"ombudetsKontaktpersonNamn":{"type":"string","description":"Ombudets kontaktperson (namn)\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 texten. Regex ^[A-Za-zÀ-ÖØ-öø-ž,-.: ']{0,250}$","nullable":true},"ombudetsKontaktpersonEpost":{"type":"string","description":"Ombudets kontaktperson (epost).\r\nObligatoriskt om ombud är ifyllt.\r\nMax 250 tecken. Valideras.","nullable":true},"ombudetsKontaktpersonTelefonnummer":{"type":"string","description":"Ombudets kontaktperson (telefonnummer).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Regex ^((\\+\\d{2,3}[-\\s]?[1-9][-\\s]?(\\d[-\\s]?){1,10}\\d$)|((\\d[-\\s]?){1,11}\\d))","nullable":true},"verksamhetsutovare":{"type":"string","description":"Den som är anteckningsskyldig (orgnr) för att ha hanterat eller transporterat avfallet.\r\n<strong>Obs! Orgnumret måste stämma överens med orgnummer i SSL certifikatet eller måste Ombud stämma \r\növerens med orgnummer i SSL certifikatet.</strong>\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"verksamhetensNamn":{"type":"string","description":"Verksamhetens namn (företag).\r\n<br>Max 250 tecken. Regex ^[0-9A-Za-zÅÄÖÜÉåäöüé.,?:\\-/()&+− ']{0,250}$"},"verksamhetensKontaktpersonNamn":{"type":"string","description":"Verksamhetens kontaktperson (namn).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 texten. Regex ^[A-Za-zÀ-ÖØ-öø-ž,-.: ']{0,250}$"},"verksamhetensKontaktpersonEpost":{"type":"string","description":"Verksamhetens kontaktperson (epost).\r\nMax 250 tecken. Valideras."},"verksamhetensKontaktpersonTelefonnummer":{"type":"string","description":"Verksamhetens kontaktperson (telefonnummer).\r\n<br>Regex ^((\\+\\d{2,3}[-\\s]?[1-9][-\\s]?(\\d[-\\s]?){1,10}\\d$)|((\\d[-\\s]?){1,11}\\d))"},"referens":{"type":"string","description":"Löpnummer eller signatur i verksamhetsutövarens system för härledning av den \r\nperson som gjort anteckningen. Syftet är främst att underlätta felsökning.\r\nMax 40 tecken. Regex ^[a-zA-Z0-9äÄöÖåÅÀàÁáÃãËëÉéÈèÊêÂâÍíÎîÏï\\s\\,\\.\\-\\&/\\\"\"_()?]{0,40}$","nullable":true},"avfall":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Avfall"},"tidigareInnehavare":{"type":"string","description":"Det företag (orgnr) eller person (persnr) som innehar avfallet innan transport.\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"nyInnehavare":{"type":"string","description":"Det företag (orgnr) eller person (persnr) som mottager avfallet vid transportens destination.\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"transaktionsDatum":{"type":"string","description":"Datum för den utförda transaktionen.","format":"date-time"}},"description":"En anteckning gällande handel med farligt avfall\r\nenligt SFS 2020:614 Kap 6 § 4."},"BTAvfall.PublicModels.V1.Request.Anteckningar.InsamlingsMottagning":{"required":["avfall","kommandeHanteringsPlats","mottagningsDatum","senasteHanteringsPlats","tidigareInnehavare","tidpunkt","transportsatt","verksamhetensKontaktpersonEpost","verksamhetensKontaktpersonNamn","verksamhetensKontaktpersonTelefonnummer","verksamhetensNamn","verksamhetsutovare"],"type":"object","properties":{"tidpunkt":{"type":"string","description":"Datum och klockslag då anteckningen gjordes hos verksamhetsutövaren.","format":"date-time"},"ombud":{"type":"string","description":"Det företag (orgnr) eller person (persnr) som registrerat in anteckningen i verksamhetsutövarens ställe. \r\n<ul><li>När verksamhetsutövare är rapportör skall ombud ej anges.</li><li>När verksamhetsutövare inte är rapportör måste ombud anges, orgnummret \r\nmåste också stämma överens med certifikatet i detta fall.</li></ul>\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$","nullable":true},"ombudetsNamn":{"type":"string","description":"Ombudets namn (företagsnamn).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 tecken. Regex ^[0-9A-Za-zÅÄÖÜÉåäöüé.,?:\\-/()&+− ']{0,250}$","nullable":true},"ombudetsKontaktpersonNamn":{"type":"string","description":"Ombudets kontaktperson (namn)\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 texten. Regex ^[A-Za-zÀ-ÖØ-öø-ž,-.: ']{0,250}$","nullable":true},"ombudetsKontaktpersonEpost":{"type":"string","description":"Ombudets kontaktperson (epost).\r\nObligatoriskt om ombud är ifyllt.\r\nMax 250 tecken. Valideras.","nullable":true},"ombudetsKontaktpersonTelefonnummer":{"type":"string","description":"Ombudets kontaktperson (telefonnummer).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Regex ^((\\+\\d{2,3}[-\\s]?[1-9][-\\s]?(\\d[-\\s]?){1,10}\\d$)|((\\d[-\\s]?){1,11}\\d))","nullable":true},"verksamhetsutovare":{"type":"string","description":"Den som är anteckningsskyldig (orgnr) för att ha hanterat eller transporterat avfallet.\r\n<strong>Obs! Orgnumret måste stämma överens med orgnummer i SSL certifikatet eller måste Ombud stämma \r\növerens med orgnummer i SSL certifikatet.</strong>\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"verksamhetensNamn":{"type":"string","description":"Verksamhetens namn (företag).\r\n<br>Max 250 tecken. Regex ^[0-9A-Za-zÅÄÖÜÉåäöüé.,?:\\-/()&+− ']{0,250}$"},"verksamhetensKontaktpersonNamn":{"type":"string","description":"Verksamhetens kontaktperson (namn).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 texten. Regex ^[A-Za-zÀ-ÖØ-öø-ž,-.: ']{0,250}$"},"verksamhetensKontaktpersonEpost":{"type":"string","description":"Verksamhetens kontaktperson (epost).\r\nMax 250 tecken. Valideras."},"verksamhetensKontaktpersonTelefonnummer":{"type":"string","description":"Verksamhetens kontaktperson (telefonnummer).\r\n<br>Regex ^((\\+\\d{2,3}[-\\s]?[1-9][-\\s]?(\\d[-\\s]?){1,10}\\d$)|((\\d[-\\s]?){1,11}\\d))"},"referens":{"type":"string","description":"Löpnummer eller signatur i verksamhetsutövarens system för härledning av den \r\nperson som gjort anteckningen. Syftet är främst att underlätta felsökning.\r\nMax 40 tecken. Regex ^[a-zA-Z0-9äÄöÖåÅÀàÁáÃãËëÉéÈèÊêÂâÍíÎîÏï\\s\\,\\.\\-\\&/\\\"\"_()?]{0,40}$","nullable":true},"avfall":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Avfall"},"mottagningsDatum":{"type":"string","description":"Datum då insamlingen gjordes.","format":"date-time"},"tidigareInnehavare":{"type":"string","description":"Verksamhetsutövare (orgnr, persnr, VAT-nr) som var tidigare innehavare av avfallet.\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"kommandeHanteringsPlats":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Plats"},"senasteHanteringsPlats":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Plats"},"transportsatt":{"type":"string","description":"Med vilket medel en transport genomförs, identifieras med transportmedeltyp (en bokstav).\r\n<dl><dt>R</dt><dd>Vägtransport</dd><dt>T</dt><dd>Järnvägstransport</dd><dt>S</dt><dd>Sjötransport</dd><dt>A</dt><dd>Flygtransport</dd><dt>W</dt><dd>Inlandssjöfart</dd><dt>P</dt><dd>Rörledning</dd></dl>"}},"description":"En anteckning gällande mottagning av farligt avfall för insamling och sortering\r\nenligt SFS 2020:614 Kap 6 § 3.1."},"BTAvfall.PublicModels.V1.Request.Anteckningar.InsamlingsTransport":{"required":["avfall","borttransportDatum","mottagningsplats","nyInnehavare","tidpunkt","transportor","transportsatt","verksamhetensKontaktpersonEpost","verksamhetensKontaktpersonNamn","verksamhetensKontaktpersonTelefonnummer","verksamhetensNamn","verksamhetsutovare"],"type":"object","properties":{"tidpunkt":{"type":"string","description":"Datum och klockslag då anteckningen gjordes hos verksamhetsutövaren.","format":"date-time"},"ombud":{"type":"string","description":"Det företag (orgnr) eller person (persnr) som registrerat in anteckningen i verksamhetsutövarens ställe. \r\n<ul><li>När verksamhetsutövare är rapportör skall ombud ej anges.</li><li>När verksamhetsutövare inte är rapportör måste ombud anges, orgnummret \r\nmåste också stämma överens med certifikatet i detta fall.</li></ul>\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$","nullable":true},"ombudetsNamn":{"type":"string","description":"Ombudets namn (företagsnamn).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 tecken. Regex ^[0-9A-Za-zÅÄÖÜÉåäöüé.,?:\\-/()&+− ']{0,250}$","nullable":true},"ombudetsKontaktpersonNamn":{"type":"string","description":"Ombudets kontaktperson (namn)\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 texten. Regex ^[A-Za-zÀ-ÖØ-öø-ž,-.: ']{0,250}$","nullable":true},"ombudetsKontaktpersonEpost":{"type":"string","description":"Ombudets kontaktperson (epost).\r\nObligatoriskt om ombud är ifyllt.\r\nMax 250 tecken. Valideras.","nullable":true},"ombudetsKontaktpersonTelefonnummer":{"type":"string","description":"Ombudets kontaktperson (telefonnummer).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Regex ^((\\+\\d{2,3}[-\\s]?[1-9][-\\s]?(\\d[-\\s]?){1,10}\\d$)|((\\d[-\\s]?){1,11}\\d))","nullable":true},"verksamhetsutovare":{"type":"string","description":"Den som är anteckningsskyldig (orgnr) för att ha hanterat eller transporterat avfallet.\r\n<strong>Obs! Orgnumret måste stämma överens med orgnummer i SSL certifikatet eller måste Ombud stämma \r\növerens med orgnummer i SSL certifikatet.</strong>\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"verksamhetensNamn":{"type":"string","description":"Verksamhetens namn (företag).\r\n<br>Max 250 tecken. Regex ^[0-9A-Za-zÅÄÖÜÉåäöüé.,?:\\-/()&+− ']{0,250}$"},"verksamhetensKontaktpersonNamn":{"type":"string","description":"Verksamhetens kontaktperson (namn).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 texten. Regex ^[A-Za-zÀ-ÖØ-öø-ž,-.: ']{0,250}$"},"verksamhetensKontaktpersonEpost":{"type":"string","description":"Verksamhetens kontaktperson (epost).\r\nMax 250 tecken. Valideras."},"verksamhetensKontaktpersonTelefonnummer":{"type":"string","description":"Verksamhetens kontaktperson (telefonnummer).\r\n<br>Regex ^((\\+\\d{2,3}[-\\s]?[1-9][-\\s]?(\\d[-\\s]?){1,10}\\d$)|((\\d[-\\s]?){1,11}\\d))"},"referens":{"type":"string","description":"Löpnummer eller signatur i verksamhetsutövarens system för härledning av den \r\nperson som gjort anteckningen. Syftet är främst att underlätta felsökning.\r\nMax 40 tecken. Regex ^[a-zA-Z0-9äÄöÖåÅÀàÁáÃãËëÉéÈèÊêÂâÍíÎîÏï\\s\\,\\.\\-\\&/\\\"\"_()?]{0,40}$","nullable":true},"avfall":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Avfall"},"borttransportDatum":{"type":"string","description":"Datum för borttransport.","format":"date-time"},"transportor":{"type":"string","description":"Transportörens orgnr.\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"nyInnehavare":{"type":"string","description":"Det företag (orgnr) eller person (persnr) som mottager avfallet vid transportens destination.\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"mottagningsplats":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Plats"},"transportsatt":{"type":"string","description":"Med vilket medel en transport genomförs, identifieras med transportmedeltyp (en bokstav).\r\n<dl><dt>R</dt><dd>Vägtransport</dd><dt>T</dt><dd>Järnvägstransport</dd><dt>S</dt><dd>Sjötransport</dd><dt>A</dt><dd>Flygtransport</dd><dt>W</dt><dd>Inlandssjöfart</dd><dt>P</dt><dd>Rörledning</dd></dl>"}},"description":"En anteckning gällande transport av farligt avfall efter insamling och sortering\r\nenligt SFS 2020:614 Kap 6 § 3.2."},"BTAvfall.PublicModels.V1.Request.Anteckningar.Transport":{"required":["avfall","nyInnehavare","tidigareInnehavare","tidpunkt","transportSlutplats","transportStartDatum","transportStartplats","transportsatt","verksamhetensKontaktpersonEpost","verksamhetensKontaktpersonNamn","verksamhetensKontaktpersonTelefonnummer","verksamhetensNamn","verksamhetsutovare"],"type":"object","properties":{"tidpunkt":{"type":"string","description":"Datum och klockslag då anteckningen gjordes hos verksamhetsutövaren.","format":"date-time"},"ombud":{"type":"string","description":"Det företag (orgnr) eller person (persnr) som registrerat in anteckningen i verksamhetsutövarens ställe. \r\n<ul><li>När verksamhetsutövare är rapportör skall ombud ej anges.</li><li>När verksamhetsutövare inte är rapportör måste ombud anges, orgnummret \r\nmåste också stämma överens med certifikatet i detta fall.</li></ul>\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$","nullable":true},"ombudetsNamn":{"type":"string","description":"Ombudets namn (företagsnamn).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 tecken. Regex ^[0-9A-Za-zÅÄÖÜÉåäöüé.,?:\\-/()&+− ']{0,250}$","nullable":true},"ombudetsKontaktpersonNamn":{"type":"string","description":"Ombudets kontaktperson (namn)\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 texten. Regex ^[A-Za-zÀ-ÖØ-öø-ž,-.: ']{0,250}$","nullable":true},"ombudetsKontaktpersonEpost":{"type":"string","description":"Ombudets kontaktperson (epost).\r\nObligatoriskt om ombud är ifyllt.\r\nMax 250 tecken. Valideras.","nullable":true},"ombudetsKontaktpersonTelefonnummer":{"type":"string","description":"Ombudets kontaktperson (telefonnummer).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Regex ^((\\+\\d{2,3}[-\\s]?[1-9][-\\s]?(\\d[-\\s]?){1,10}\\d$)|((\\d[-\\s]?){1,11}\\d))","nullable":true},"verksamhetsutovare":{"type":"string","description":"Den som är anteckningsskyldig (orgnr) för att ha hanterat eller transporterat avfallet.\r\n<strong>Obs! Orgnumret måste stämma överens med orgnummer i SSL certifikatet eller måste Ombud stämma \r\növerens med orgnummer i SSL certifikatet.</strong>\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"verksamhetensNamn":{"type":"string","description":"Verksamhetens namn (företag).\r\n<br>Max 250 tecken. Regex ^[0-9A-Za-zÅÄÖÜÉåäöüé.,?:\\-/()&+− ']{0,250}$"},"verksamhetensKontaktpersonNamn":{"type":"string","description":"Verksamhetens kontaktperson (namn).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 texten. Regex ^[A-Za-zÀ-ÖØ-öø-ž,-.: ']{0,250}$"},"verksamhetensKontaktpersonEpost":{"type":"string","description":"Verksamhetens kontaktperson (epost).\r\nMax 250 tecken. Valideras."},"verksamhetensKontaktpersonTelefonnummer":{"type":"string","description":"Verksamhetens kontaktperson (telefonnummer).\r\n<br>Regex ^((\\+\\d{2,3}[-\\s]?[1-9][-\\s]?(\\d[-\\s]?){1,10}\\d$)|((\\d[-\\s]?){1,11}\\d))"},"referens":{"type":"string","description":"Löpnummer eller signatur i verksamhetsutövarens system för härledning av den \r\nperson som gjort anteckningen. Syftet är främst att underlätta felsökning.\r\nMax 40 tecken. Regex ^[a-zA-Z0-9äÄöÖåÅÀàÁáÃãËëÉéÈèÊêÂâÍíÎîÏï\\s\\,\\.\\-\\&/\\\"\"_()?]{0,40}$","nullable":true},"avfall":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Avfall"},"tidigareInnehavare":{"type":"string","description":"Det företag (orgnr) eller person (persnr) som innehar avfallet innan transport.\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"nyInnehavare":{"type":"string","description":"Det företag (orgnr) eller person (persnr) som mottager avfallet vid transportens destination.\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"transportStartDatum":{"type":"string","description":"Datum när en transport påbörjas.","format":"date-time"},"transportStartplats":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Plats"},"transportSlutplats":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Plats"},"transportsatt":{"type":"string","description":"Med vilket medel en transport genomförs, identifieras med transportmedeltyp (en bokstav).\r\n<dl><dt>R</dt><dd>Vägtransport</dd><dt>T</dt><dd>Järnvägstransport</dd><dt>S</dt><dd>Sjötransport</dd><dt>A</dt><dd>Flygtransport</dd><dt>W</dt><dd>Inlandssjöfart</dd><dt>P</dt><dd>Rörledning</dd></dl>"}},"description":"En anteckning gällande transport av farligt avfall \r\nenligt SFS 2020:614 Kap 6 § 2."},"BTAvfall.PublicModels.V1.Request.Anteckningar.Transportplanering":{"required":["avfall","borttransportDatum","cfarNR","mottagningsplats","nyInnehavare","tidpunkt","transportor","transportsatt","uppkomstplats","verksamhetensKontaktpersonEpost","verksamhetensKontaktpersonNamn","verksamhetensKontaktpersonTelefonnummer","verksamhetensNamn","verksamhetsutovare"],"type":"object","properties":{"tidpunkt":{"type":"string","description":"Datum och klockslag då anteckningen gjordes hos verksamhetsutövaren.","format":"date-time"},"ombud":{"type":"string","description":"Det företag (orgnr) eller person (persnr) som registrerat in anteckningen i verksamhetsutövarens ställe. \r\n<ul><li>När verksamhetsutövare är rapportör skall ombud ej anges.</li><li>När verksamhetsutövare inte är rapportör måste ombud anges, orgnummret \r\nmåste också stämma överens med certifikatet i detta fall.</li></ul>\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$","nullable":true},"ombudetsNamn":{"type":"string","description":"Ombudets namn (företagsnamn).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 tecken. Regex ^[0-9A-Za-zÅÄÖÜÉåäöüé.,?:\\-/()&+− ']{0,250}$","nullable":true},"ombudetsKontaktpersonNamn":{"type":"string","description":"Ombudets kontaktperson (namn)\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 texten. Regex ^[A-Za-zÀ-ÖØ-öø-ž,-.: ']{0,250}$","nullable":true},"ombudetsKontaktpersonEpost":{"type":"string","description":"Ombudets kontaktperson (epost).\r\nObligatoriskt om ombud är ifyllt.\r\nMax 250 tecken. Valideras.","nullable":true},"ombudetsKontaktpersonTelefonnummer":{"type":"string","description":"Ombudets kontaktperson (telefonnummer).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Regex ^((\\+\\d{2,3}[-\\s]?[1-9][-\\s]?(\\d[-\\s]?){1,10}\\d$)|((\\d[-\\s]?){1,11}\\d))","nullable":true},"verksamhetsutovare":{"type":"string","description":"Den som är anteckningsskyldig (orgnr) för att ha hanterat eller transporterat avfallet.\r\n<strong>Obs! Orgnumret måste stämma överens med orgnummer i SSL certifikatet eller måste Ombud stämma \r\növerens med orgnummer i SSL certifikatet.</strong>\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"verksamhetensNamn":{"type":"string","description":"Verksamhetens namn (företag).\r\n<br>Max 250 tecken. Regex ^[0-9A-Za-zÅÄÖÜÉåäöüé.,?:\\-/()&+− ']{0,250}$"},"verksamhetensKontaktpersonNamn":{"type":"string","description":"Verksamhetens kontaktperson (namn).\r\nObligatoriskt om ombud är ifyllt.\r\n<br>Max 250 texten. Regex ^[A-Za-zÀ-ÖØ-öø-ž,-.: ']{0,250}$"},"verksamhetensKontaktpersonEpost":{"type":"string","description":"Verksamhetens kontaktperson (epost).\r\nMax 250 tecken. Valideras."},"verksamhetensKontaktpersonTelefonnummer":{"type":"string","description":"Verksamhetens kontaktperson (telefonnummer).\r\n<br>Regex ^((\\+\\d{2,3}[-\\s]?[1-9][-\\s]?(\\d[-\\s]?){1,10}\\d$)|((\\d[-\\s]?){1,11}\\d))"},"referens":{"type":"string","description":"Löpnummer eller signatur i verksamhetsutövarens system för härledning av den \r\nperson som gjort anteckningen. Syftet är främst att underlätta felsökning.\r\nMax 40 tecken. Regex ^[a-zA-Z0-9äÄöÖåÅÀàÁáÃãËëÉéÈèÊêÂâÍíÎîÏï\\s\\,\\.\\-\\&/\\\"\"_()?]{0,40}$","nullable":true},"avfall":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Avfall"},"borttransportDatum":{"type":"string","description":"Datum för borttransport.","format":"date-time"},"transportor":{"type":"string","description":"Transportörens orgnr.\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"nyInnehavare":{"type":"string","description":"Det företag (orgnr) eller person (persnr) som mottager avfallet vid transportens destination.\r\nAnges utan bindestreck alternativt med VAT-nr för ex utländska företag.\r\n<br>Max 14 tecken. Regex ^(\\d{10})$, ^[A-Z]{2}[0-9A-Za-z]{5,12}$"},"mottagningsplats":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Plats"},"transportsatt":{"type":"string","description":"Med vilket medel en transport genomförs, identifieras med transportmedeltyp (en bokstav).\r\n<dl><dt>R</dt><dd>Vägtransport</dd><dt>T</dt><dd>Järnvägstransport</dd><dt>S</dt><dd>Sjötransport</dd><dt>A</dt><dd>Flygtransport</dd><dt>W</dt><dd>Inlandssjöfart</dd><dt>P</dt><dd>Rörledning</dd></dl>"},"uppkomstplats":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Plats"},"cfarNR":{"type":"string","description":"Verksamhetens CfarNr enligt SCB, 8 siffror.\r\nOm CfarNr saknas eller inte kan härledas anges \"SAKNAS\"."}},"description":"En anteckning gällande uppkomst av farligt avfall och planerad transport av detta\r\nenligt SFS 2020:614 Kap 6 § 1."},"BTAvfall.PublicModels.V1.Request.Avfall":{"required":["kod","mangd"],"type":"object","properties":{"kod":{"type":"string","description":"En 6-siffrig kod."},"mangd":{"type":"number","description":"Mängd i kg upp till 3 decimaler.","format":"double","example":20.125},"foregaendeAvfallId":{"type":"string","description":"Det avfallsid (GUID) för den unika avfallsmängd som registrerades i närmast föregående anteckning","nullable":true}},"description":"Ett avfall av en viss typ och mängd.\r\nAvfallet tilldelas en identitet när den anteckningen registreras."},"BTAvfall.PublicModels.V1.Request.Avfallstyp":{"type":"object","properties":{"kod":{"type":"string","description":"En 2-6 siffrig kod som används som teknisk nyckel för avfallstyp i API:et.\r\nMotsvararar EWC-koden utan blankslag och *.","nullable":true},"ewc":{"type":"string","description":"EWC-kod för avfallstypen.","nullable":true,"readOnly":true},"farligt":{"type":"string","description":"Om avfallet anses som farligt","nullable":true},"angeResultatAvAtervinning":{"type":"boolean","description":"Om specificering av återvinningsresultat förväntas"},"beskrivning":{"type":"string","description":"En text som beskriver avfallet.","nullable":true},"avfallstypInfo":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.AvfallstypInfo"},"avfallstyper":{"type":"array","description":"Child till denna Avfallstyp","nullable":true,"items":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Avfallstyp"}},"mangdGrans":{"type":"number","format":"double","nullable":true}},"description":"Beskriver en avfallstyp."},"BTAvfall.PublicModels.V1.Request.AvfallstypInfo":{"type":"object","properties":{"info":{"type":"string","description":"Övrig information om avfallstypen.","nullable":true}}},"BTAvfall.PublicModels.V1.Request.Behandling":{"required":["kod"],"type":"object","properties":{"kod":{"type":"string","description":"Med vilken metod avfallet behandlades, en R/D-kod."},"underkod":{"type":"string","description":"Underkod till behandlingsmetoden som ytterligare preciserar behandlingen.\r\nGiltiga kombinationer finns i /behandlingsmetoder.","nullable":true}},"description":"Metod som använts för behandling av avfall."},"BTAvfall.PublicModels.V1.Request.Koordinat":{"type":"object","properties":{"nposition":{"type":"integer","description":"Nordlig position, 7 siffror.","format":"int64","example":1234567},"eposition":{"type":"integer","description":"Östlig position, 6 siffror.","format":"int64","example":123456},"beskrivning":{"type":"string","description":"En beskrivning av positionen (vid behov).\r\n<br>\r\nMax 1000 tecken.\r\nRegex ^[a-zA-Z0-9äÄöÖåÅÀàÁáÃãËëÉéÈèÊêÂâÍíÎîÏïÇçÌìÑñ\\s\\,\\.\\-\\+\\*\\&/\\#\\°\\¤\\\"\":;\\%\\!=|_()?´~]{0,1000}$\r\n","nullable":true}},"description":"Ett geografisk koordinat enligt kordinatsystemet SWEREF 99 TM."},"BTAvfall.PublicModels.V1.Request.MakuleraAnteckning":{"required":["avfallsId","makuleringsorsak"],"type":"object","properties":{"avfallsId":{"type":"string","description":"Avfalls unika id","format":"uuid"},"makuleringsorsak":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Makuleringsorsak"}}},"BTAvfall.PublicModels.V1.Request.Makuleringsorsak":{"type":"string","description":"Makuleringsorsak\r\n<dl><dt>FelAvfall</dt><dd>Fel Avfall</dd><dt>FelAnteckningstyp</dt><dd>Fel Anteckningstyp</dd><dt>FelVU</dt><dd>Fel VU</dd><dt>SkickatDubbelt</dt><dd>Skickat Dubbelt</dd></dl>","enum":["FelAvfall","FelAnteckningstyp","FelVU","SkickatDubbelt"]},"BTAvfall.PublicModels.V1.Request.Plats":{"required":["kommunkod"],"type":"object","properties":{"kommunkod":{"type":"string","description":"4 siffrig kommunkod inom Sverige."},"adress":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Adress"},"koordinat":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Request.Koordinat"},"cfarNR":{"type":"string","description":"CFarnr enligt SCB, 8 siffror.","nullable":true},"land":{"type":"string","description":"Landskod med två bokstäver (ISO 3166-1 alpha 2).","nullable":true}},"description":"<br>\r\n            En plats, vilken kan anges på fem olika sätt:\r\n            <ol><li>Med kommunkod, adressrad och postnummer inom Sverige.</li><li>Med kommunkod, koordinater enligt Sweref 99 TM och ev. beskrivning av platsen inom Sverige.</li><li>Med landskod utanför Sverige.</li><li>Med kommunkod och cfarnr inom Sverige. Kan användas om cfarnr är känd för \r\n            den verksamhetsutövare som lämnar ifrån sig eller tar emot avfallet på platsen.</li><li>Med enbart kommunkod om uppkomsten av avfallet är okänd (tidigare innehavare = \"OKÄND\") \r\n            eller från flera hushåll inom kommunen (tidigare innehavare = \"KOMMUN\").</li></ol>\r\n<br>\r\n  <strong>Obs! Godtagbara sätt beror på typen av anteckning och typen av plats.</strong>\r\n"},"BTAvfall.PublicModels.V1.Response.AntecknaSvar":{"type":"object","properties":{"avfallId":{"type":"string","description":"Genererat löpnummer (GUID) som unikt identifierar ett avfall vid registreringen av en anteckning.\r\nDen är också en alternativ nyckel till den registrerade anteckningen.\r\n(Vid en uppdatering av en anteckning så genereras ett nytt avfallid.)","nullable":true}}},"BTAvfall.PublicModels.V1.Response.Anteckningstyp":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"beskrivning":{"type":"string","nullable":true},"aktor":{"type":"string","nullable":true},"lagrum":{"type":"string","nullable":true},"tillampning":{"type":"string","nullable":true}},"description":"Beskriver en anteckningstyp."},"BTAvfall.PublicModels.V1.Response.AtervinningsresultatTyp":{"type":"object","properties":{"kod":{"type":"string","description":"Tvåsiffrigt nummer.","nullable":true},"beskrivning":{"type":"string","description":"Beskrivning av typen resultat av återvinning.","nullable":true},"mangdRegenereringForvantas":{"type":"boolean","description":"Anger om fältet MangdRegenerering kan användas med koden."},"mangdAnnanMaterialatervinningForvantas":{"type":"boolean","description":"Anger om fältet MangdAnnanMaterialatervinning kan användas med koden."},"mangdEnergiatervinningForvantas":{"type":"boolean","description":"Anger om fältet MangdEnergiatervinning kan användas med koden."},"mangdBortskanffandeForvantas":{"type":"boolean","description":"Anger om fältet MangdBortkanffande kan användas med koden."},"specifikationOvrigtForvantas":{"type":"boolean","description":"Anger om fältet SpecifikationOvrigt kan användas med koden.\r\nObs! Detta fält är obligatoriskt om det kan anges."}},"description":"Vilka fält som kan anges för typ av återvinningsresultat gällande behandlingsresultat av spillolja."},"BTAvfall.PublicModels.V1.Response.Behandlingsmetod":{"type":"object","properties":{"kod":{"type":"string","description":"Typ+Typnummer=Kod","nullable":true,"readOnly":true},"typ":{"type":"string","description":"D för Disposal eller R för Recykling","nullable":true},"typnummer":{"type":"integer","description":"Ett tvåsiffrigt nummer.","format":"int32","example":10},"beskrivning":{"type":"string","description":"En beskrivning av behandlingsmetoden.","nullable":true},"underkoder":{"type":"array","description":"En lista med Behandlingsmetodens Underkoder","nullable":true,"items":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.Underkod"}}}},"BTAvfall.PublicModels.V1.Response.ErrorObject":{"type":"object","properties":{"message":{"type":"string","description":"En beskrivning av felet.","nullable":true},"code":{"type":"integer","description":"En felkod för det specifika felet.","format":"int32","example":1011}},"description":"Beskriver ett specifikt fel.\r\n<br>Felkoder som kan förekomma är:\r\n<dl><dt>1000</dt><dd>Okänt fel.</dd><dt>1000</dt><dd>Valideringsfel.</dd><dt>1011</dt><dd>Orgnr för ombud har fel format.</dd><dt>1012</dt><dd>Orgnr för ombud ska anges.</dd><dt>1013</dt><dd>Orgnr för ombud ska inte anges.</dd><dt>1021</dt><dd>Orgnr för verksamhestutövare ska anges.</dd><dt>1022</dt><dd>Orgnr för verksamhestutövare har fel format.</dd><dt>1023</dt><dd>Orgnr för verksamhetsutövare eller ombud måste matcha certifikatets organisationsnummer.</dd><dt>1031</dt><dd>Tidpunkt ska anges.</dd><dt>1032</dt><dd>Tidpunkt utanför tillåtna gränsvärden.</dd><dt>1042</dt><dd>Referens innehåller otillåtna tecken.</dd><dt>1051</dt><dd>Kommunkod okänd.</dd><dt>1054</dt><dd>Länskod okänd.</dd><dt>1055</dt><dd>Kommunkod ska anges.</dd><dt>1081</dt><dd>Postnummer har ej fem siffror.</dd><dt>1091</dt><dd>GUID för föregående avfallid har fel format.</dd><dt>1111</dt><dd>Avfallskod okänd.</dd><dt>1112</dt><dd>Avfallskod ska anges.</dd><dt>1113</dt><dd>Avfallskod har fel format</dd><dt>1116</dt><dd>GUID för id okänd.</dd><dt>1117</dt><dd>GUID för id ska anges.</dd><dt>1118</dt><dd>GUID för id har fel format.</dd><dt>1121</dt><dd>Mängd avfall mindre eller lika med 0.</dd><dt>1122</dt><dd>Mängd avfall har fel format.</dd><dt>1123</dt><dd>Mängd avfall ska anges.</dd><dt>1131</dt><dd>Transportsätt ska anges.</dd><dt>1132</dt><dd>Transportsätt har fel kod.</dd><dt>1145</dt><dd>Behandlingsmetod ej R- eller D-kod.</dd><dt>1146</dt><dd>Behandlingsmetod har fel format.</dd><dt>1147</dt><dd>Behandlingsmetod ska anges.</dd><dt>1148</dt><dd>Behandlingsmetod är felaktig.</dd><dt>1181</dt><dd>Inkommen tidpunkt är felaktig.</dd><dt>1182</dt><dd>Inkommen tidpunkt sak anges.</dd><dt>1191</dt><dd>Mottagningsdatum är felaktig.</dd><dt>1192</dt><dd>Mottagningsdatum sak anges.</dd><dt>1211</dt><dd>Startdatum är felatkig.</dd><dt>1212</dt><dd>Startdatum ska anges.</dd><dt>1241</dt><dd>Orgnr för tidigare innehavare är felaktig.</dd><dt>1242</dt><dd>Orgnr för tidigare innehavare ska anges.</dd><dt>1251</dt><dd>Orgnr för ny innehavare är felaktig.</dd><dt>1252</dt><dd>Orgnr för ny innehavare ska anges.</dd><dt>1261</dt><dd>Transaktionsdatum är felaktig.</dd><dt>1262</dt><dd>Transaktionsdatum ska anges.</dd><dt>1271</dt><dd>Orgnr för mottagare är felaktig.</dd><dt>1272</dt><dd>Orgnr för mottagare ska anges.</dd><dt>1281</dt><dd>Orgnr för avsändare är felaktig.</dd><dt>1282</dt><dd>Orgnr för avsändare ska anges.</dd><dt>1291</dt><dd>Orgnr för transportör är felaktig.</dd><dt>1292</dt><dd>Orgnr för transportör ska anges.</dd><dt>1301</dt><dd>Mängd icke farligt avfall mindre eller lika med 0.</dd><dt>1302</dt><dd>Mängd icke farligt avfall är felaktig.</dd><dt>1321</dt><dd>Mängd icke farligt avfall mindre eller lika med 0.</dd><dt>1322</dt><dd>Mängd icke farligt avfall är felaktig.</dd><dt>1501</dt><dd>GUID för formulär är felaktig.</dd><dt>1511</dt><dd>Kod för typ av resultatåtervinning är felaktig.</dd><dt>1512</dt><dd>Kod för typ av resultatåtervinning ska anges.</dd><dt>1513</dt><dd>Kod för typ av resultatåtervinning är okänd.</dd><dt>1521</dt><dd>Mängd regenererad spillolja är felaktig.</dd><dt>1522</dt><dd>Mängd regenererad spillolja ska anges.</dd><dt>1523</dt><dd>Mängd regenererad spillolja är mindre eller lika med 0.</dd><dt>1524</dt><dd>Mängd regenererad spillolja ska inte anges.</dd><dt>1531</dt><dd>Mängd annan materialåtervinning av spillolja är felaktig.</dd><dt>1532</dt><dd>Mängd annan materialåtervinning av spillolja ska anges.</dd><dt>1533</dt><dd>Mängd annan materialåtervinning av spillolja är mindre eller lika med 0.</dd><dt>1534</dt><dd>Mängd annan materialåtervinning av spillolja ska inte anges.</dd><dt>1541</dt><dd>Mängd energiåtervinning av spillolja är felaktig.</dd><dt>1542</dt><dd>Mängd energiåtervinning av spillolja ska anges.</dd><dt>1543</dt><dd>Mängd energiåtervinning av spillolja är mindre eller lika med 0.</dd><dt>1544</dt><dd>Mängd energiåtervinning av spillolja ska inte anges.</dd><dt>1551</dt><dd>Mängd bortskaffande av spillolja är felaktig.</dd><dt>1552</dt><dd>Mängd bortskaffande av spillolja ska anges.</dd><dt>1553</dt><dd>Mängd bortskaffande av spillolja är mindre eller lika med 0.</dd><dt>1554</dt><dd>Mängd bortskaffande av spillolja ska inte anges.</dd><dt>1561</dt><dd>Specifikation för typ av återvinning av spillolja är felaktig.</dd><dt>1562</dt><dd>Specifikation för typ av återvinning av spillolja ska anges.</dd><dt>1563</dt><dd>Specifikation för typ av återvinning av spillolja ska inte anges.</dd><dt>1701</dt><dd>Landskod är felaktig.</dd><dt>1702</dt><dd>Landskod för Sverige ska ej anges.</dd><dt>1704</dt><dd>Landskod ska anges.</dd><dt>1705</dt><dd>Landskod ska ej anges.</dd><dt>2011</dt><dd>GUID för anteckning är felaktig.</dd><dt>2021</dt><dd>GUID för avfall är felaktig.</dd><dt>2031</dt><dd>Parameter max antal rader per sida är felaktig.</dd><dt>2041</dt><dd>Parameter anteckningstyp är felaktig.</dd><dt>2051</dt><dd>Parameter sidnummer är mindre eller lika med 0.</dd><dt>2061</dt><dd>Organisationsnummer är felaktig.</dd><dt>2062</dt><dd>Organisationsnummer ska anges.</dd><dt>2071</dt><dd>Organisationsnamn är felaktig.</dd><dt>2072</dt><dd>Organisationsnamn ska anges.</dd><dt>3011</dt><dd>GUID för PDF är felaktig.</dd><dt>3022</dt><dd>Uppdatering ej möjlig, ny version finns redan.</dd><dt>3023</dt><dd>Uppdatering ej möjlig, annan typ av anteckning.</dd><dt>4021</dt><dd>Kontaktpersonens namn för verksamhetsutövarens ska anges.</dd><dt>4022</dt><dd>Kontaktpersonens namn för verksamhetsutövarens är felaktig.</dd><dt>4023</dt><dd>Kontaktpersonens e-post för verksamhetsutövarens ska anges.</dd><dt>4024</dt><dd>Kontaktpersonens e-post för verksamhetsutövarens är felaktig.</dd><dt>4025</dt><dd>Kontaktpersonens telefon för verksamhetsutövarens ska anges.</dd><dt>4026</dt><dd>Kontaktpersonens telefon för verksamhetsutövarens är felaktig.</dd><dt>4027</dt><dd>verksamhetsutövarens namn ska anges.</dd><dt>4028</dt><dd>verksamhetsutövarens namn är felaktig.</dd><dt>4031</dt><dd>Ombudets namn ska anges.</dd><dt>4032</dt><dd>Ombudets namn är felaktig.</dd><dt>4033</dt><dd>Kontaktpersonens namn för ombudet ska anges.</dd><dt>4034</dt><dd>Kontaktpersonens namn för ombudet är felaktig.</dd><dt>4035</dt><dd>Kontaktpersonens e-post för ombudet ska anges.</dd><dt>4036</dt><dd>Kontaktpersonens e-post för ombudet är felaktig.</dd><dt>4037</dt><dd>Kontaktpersonens telefon för ombudet ska anges.</dd><dt>4038</dt><dd>Kontaktpersonens telefon för ombudet är felaktig.</dd><dt>4040</dt><dd>Uppgiftslämnarens namn ska anges.</dd><dt>4041</dt><dd>Uppgiftslämnarens namn är felaktig.</dd><dt>4042</dt><dd>Uppgiftslämnarens e-post ska anges.</dd><dt>4043</dt><dd>Uppgiftslämnarens e-post är felaktig.</dd><dt>4044</dt><dd>Uppgiftslämnarens telefon ska anges.</dd><dt>4045</dt><dd>Uppgiftslämnarens telefon är felaktig.</dd><dt>4047</dt><dd>Information om uppgiftslämnaren är felaktig.</dd><dt>4050</dt><dd>Detta orgnr får ej anges för tidigare innehavare.</dd><dt>4051</dt><dd>Detta orgnr får ej anges som verksamhetsutövare.</dd><dt>4052</dt><dd>Detta orgnr får ej anges som avsändare.</dd><dt>4053</dt><dd>Särskild organisation är redan registrerad.</dd><dt>4054</dt><dd>Särskild organisation ska anges.</dd><dt>4061</dt><dd>Underkod för behandling felaktig.</dd><dt>4062</dt><dd>Underkod för behandling okänd.</dd><dt>4063</dt><dd>Underkod för behandling ska anges.</dd><dt>4071</dt><dd>Tillsynsorganisation är redan registrerad.</dd><dt>4072</dt><dd>Tillsynsorganisation ska anges.</dd><dt>4073</dt><dd>E-post för kontakperson för tillsynsorganisation felaktig.</dd><dt>4074</dt><dd>Telefon för kontakperson för tillsynsorganisation felaktig.</dd><dt>4075</dt><dd>Namn för kontakperson för tillsynsorganisation felaktig.</dd><dt>4077</dt><dd>Kommunkod för tillsynsorganisation finns redan.</dd><dt>4078</dt><dd>Landskod för tillsynsorganisation finns redan.</dd><dt>4081</dt><dd>Söktext felaktig.</dd><dt>4082</dt><dd>Max antal rader per sida felaktig.</dd><dt>4084</dt><dd>Sidnummer felaktig.</dd><dt>4095</dt><dd>CfarNr är felaktigt (ej åtta siffor, KOMMUN, SAKNAS).</dd><dt>4096</dt><dd>CfarNr ska anges.</dd><dt>4097</dt><dd>CFarNr ska anges med åtta siffror.</dd><dt>4100</dt><dd>Mottagningsplats är felaktig.</dd><dt>4101</dt><dd>Mottagningsplats ska anges.</dd><dt>4101</dt><dd>Ombudets namn ska ej anges.</dd><dt>4102</dt><dd>Adress för mottagningsplats ska anges.</dd><dt>4102</dt><dd>Kontaktpersonens namn för ombudet ska ej anges.</dd><dt>4103</dt><dd>Adress för mottagningsplats är felaktig.</dd><dt>4103</dt><dd>Kontaktpersonens e-post för ombudet ska ej anges.</dd><dt>4104</dt><dd>Kontaktpersonens telefon för ombudet ska ej anges.</dd><dt>4104</dt><dd>Postnummer för mottagningsplats ska anges.</dd><dt>4105</dt><dd>Postnummer för mottagningsplats är felaktig.</dd><dt>4106</dt><dd>Kommunkod för mottagningsplats ska anges.</dd><dt>4107</dt><dd>Kommunkod för mottagningsplats är felaktig.</dd><dt>4108</dt><dd>Beskrivning fär position för mottagningsplats är felaktig.</dd><dt>4109</dt><dd>Nordlig position för mottagningsplats är felaktig.</dd><dt>4110</dt><dd>Nordlig position för mottagningsplats ska anges.</dd><dt>4111</dt><dd>Östlig position för mottagningsplats är felaktig.</dd><dt>4112</dt><dd>Östlig position för mottagningsplats ska anges.</dd><dt>4200</dt><dd>Kommande hanteringsplats är felaktig.</dd><dt>4201</dt><dd>Kommande hanteringsplats ska anges.</dd><dt>4202</dt><dd>Adress för kommande hanteringsplats ska anges.</dd><dt>4203</dt><dd>Adress för kommande hanteringsplats är felaktig.</dd><dt>4204</dt><dd>Postnummer för kommande hanteringsplats ska anges.</dd><dt>4205</dt><dd>Postnummer för kommande hanteringsplats är felaktig.</dd><dt>4206</dt><dd>Kommunkod för kommande hanteringsplats ska anges.</dd><dt>4207</dt><dd>Kommunkod för kommande hanteringsplats är felaktig.</dd><dt>4208</dt><dd>Beskrivning fär position för kommande hanteringsplats är felaktig.</dd><dt>4209</dt><dd>Nordlig position för kommande hanteringsplats är felaktig.</dd><dt>4210</dt><dd>Nordlig position för kommande hanteringsplats ska anges.</dd><dt>4211</dt><dd>Östlig position för kommande hanteringsplats är felaktig.</dd><dt>4212</dt><dd>Östlig position för kommande hanteringsplats ska anges.</dd><dt>4300</dt><dd>Behandlingsplats är felaktig.</dd><dt>4301</dt><dd>Behandlingsplats ska anges.</dd><dt>4302</dt><dd>Adress för behandlingsplats ska anges.</dd><dt>4303</dt><dd>Adress för behandlingsplats är felaktig.</dd><dt>4304</dt><dd>Postnummer för behandlingsplats ska anges.</dd><dt>4305</dt><dd>Postnummer för behandlingsplats är felaktig.</dd><dt>4306</dt><dd>Kommunkod för behandlingsplats ska anges.</dd><dt>4307</dt><dd>Kommunkod för behandlingsplats är felaktig.</dd><dt>4308</dt><dd>Beskrivning fär position för behandlingsplats är felaktig.</dd><dt>4309</dt><dd>Nordlig position för behandlingsplats är felaktig.</dd><dt>4310</dt><dd>Nordlig position för behandlingsplats ska anges.</dd><dt>4311</dt><dd>Östlig position för behandlingsplats är felaktig.</dd><dt>4312</dt><dd>Östlig position för behandlingsplats ska anges.</dd><dt>4400</dt><dd>Startplats för transport är felaktig.</dd><dt>4401</dt><dd>Startplats för transport ska anges.</dd><dt>4402</dt><dd>Adress för startplats för transport ska anges.</dd><dt>4403</dt><dd>Adress för startplats för transport är felaktig.</dd><dt>4404</dt><dd>Postnummer för startplats för transport ska anges.</dd><dt>4405</dt><dd>Postnummer för startplats för transport är felaktig.</dd><dt>4406</dt><dd>Kommunkod för startplats för transport ska anges.</dd><dt>4407</dt><dd>Kommunkod för startplats för transport är felaktig.</dd><dt>4408</dt><dd>Beskrivning fär position för startplats för transport är felaktig.</dd><dt>4409</dt><dd>Nordlig position för startplats för transport är felaktig.</dd><dt>4410</dt><dd>Nordlig position för startplats för transport ska anges.</dd><dt>4411</dt><dd>Östlig position för startplats för transport är felaktig.</dd><dt>4412</dt><dd>Östlig position för startplats för transport ska anges.</dd><dt>4500</dt><dd>Slutplats för transport är felaktig.</dd><dt>4501</dt><dd>Slutplats för transport ska anges.</dd><dt>4502</dt><dd>Adress för slutplats för transport ska anges.</dd><dt>4503</dt><dd>Adress för slutplats för transport är felaktig.</dd><dt>4504</dt><dd>Postnummer för slutplats för transport ska anges.</dd><dt>4505</dt><dd>Postnummer för slutplats för transport är felaktig.</dd><dt>4506</dt><dd>Kommunkod för slutplats för transport ska anges.</dd><dt>4507</dt><dd>Kommunkod för slutplats för transport är felaktig.</dd><dt>4508</dt><dd>Beskrivning fär position för slutplats för transport är felaktig.</dd><dt>4509</dt><dd>Nordlig position för slutplats för transport är felaktig.</dd><dt>4510</dt><dd>Nordlig position för slutplats för transport ska anges.</dd><dt>4511</dt><dd>Östlig position för slutplats för transport är felaktig.</dd><dt>4512</dt><dd>Östlig position för slutplats för transport ska anges.</dd><dt>4513</dt><dd>CfarNr för slutplats för transport är felaktig.</dd><dt>4600</dt><dd>Senaste hanteringsplats är felaktig.</dd><dt>4601</dt><dd>Senaste hanteringsplats ska anges.</dd><dt>4602</dt><dd>Adress för senaste hanteringsplats ska anges.</dd><dt>4603</dt><dd>Adress för senaste hanteringsplats är felaktig.</dd><dt>4604</dt><dd>Postnummer för senaste hanteringsplats ska anges.</dd><dt>4605</dt><dd>Postnummer för senaste hanteringsplats är felaktig.</dd><dt>4606</dt><dd>Kommunkod för senaste hanteringsplats ska anges.</dd><dt>4607</dt><dd>Kommunkod för senaste hanteringsplats är felaktig.</dd><dt>4608</dt><dd>Beskrivning fär position för senaste hanteringsplats är felaktig.</dd><dt>4609</dt><dd>Nordlig position för senaste hanteringsplats är felaktig.</dd><dt>4610</dt><dd>Nordlig position för senaste hanteringsplats ska anges.</dd><dt>4611</dt><dd>Östlig position för senaste hanteringsplats är felaktig.</dd><dt>4612</dt><dd>Östlig position för senaste hanteringsplats ska anges.</dd><dt>4613</dt><dd>CfarNr för senaste hanteringsplats är felaktig.</dd><dt>4700</dt><dd>Uppkomstplats är felaktig.</dd><dt>4701</dt><dd>Uppkomstplats ska anges.</dd><dt>4702</dt><dd>Adress för uppkomstplats ska anges.</dd><dt>4703</dt><dd>Adress för uppkomstplats är felaktig.</dd><dt>4704</dt><dd>Postnummer för uppkomstplats ska anges.</dd><dt>4705</dt><dd>Postnummer för uppkomstplats är felaktig.</dd><dt>4706</dt><dd>Kommunkod för uppkomstplats ska anges.</dd><dt>4707</dt><dd>Kommunkod för uppkomstplats är felaktig.</dd><dt>4708</dt><dd>Beskrivning fär position för uppkomstplats är felaktig.</dd><dt>4709</dt><dd>Nordlig position för uppkomstplats är felaktig.</dd><dt>4710</dt><dd>Nordlig position för uppkomstplats ska anges.</dd><dt>4711</dt><dd>Östlig position för uppkomstplats är felaktig.</dd><dt>4712</dt><dd>Östlig position för uppkomstplats ska anges.</dd><dt>4713</dt><dd>CfarNr för uppkomstplats är felaktig.</dd><dt>5011</dt><dd>Rapporteringsår är felaktig.</dd><dt>5012</dt><dd>Rapporteringsår ska anges.</dd><dt>5021</dt><dd>Kvartalsnummer är felaktig.</dd><dt>5022</dt><dd>Kvartalsnummer ska anges.</dd><dt>5100</dt><dd>Behandling ska anges.</dd><dt>5102</dt><dd>Behandling är upprepad.</dd><dt>5201</dt><dd>Datum för borttransport är felaktig.</dd><dt>5202</dt><dd>Datum för borttransport ska anges.</dd><dt>5301</dt><dd>Årtal ska anges.</dd></dl>"},"BTAvfall.PublicModels.V1.Response.Felsvar":{"type":"object","properties":{"title":{"type":"string","description":"Titel för felet som uppstått.","nullable":true},"statusCode":{"type":"integer","description":"Svarets statuskod.","format":"int32","example":400},"message":{"type":"string","description":"En beskrivning av felsvaret.","nullable":true},"traceId":{"type":"string","description":"Ett id för att kunna spåra felet.","nullable":true},"errors":{"type":"array","description":"<br>En lista innehållande de specifika fel som uppstått.","nullable":true,"items":{"$ref":"#/components/schemas/BTAvfall.PublicModels.V1.Response.ErrorObject"}}}},"BTAvfall.PublicModels.V1.Response.NotFound":{"type":"object","properties":{"type":{"type":"string","description":"En kod för typen av felsvar.","nullable":true},"title":{"type":"string","description":"Titel för felet som uppstått.","nullable":true},"status":{"type":"integer","description":"Svarets statuskod.","format":"int32","example":404},"traceId":{"type":"string","description":"Ett id för att kunna spåra felet.","nullable":true}}},"BTAvfall.PublicModels.V1.Response.Transportmedel":{"type":"object","properties":{"beskrivning":{"type":"string","description":"En beskrivning av transportmedeltypen.","nullable":true},"transportsatt":{"type":"string","description":"En bokstav som anger typ av transport.","nullable":true}},"description":"Beskriver ett transportmedel."},"BTAvfall.PublicModels.V1.Response.Underkod":{"type":"object","properties":{"kod":{"type":"string","description":"En bokstav som anger underkoden.","nullable":true},"beskrivning":{"type":"string","description":"Beskrivning av underkoden.","nullable":true}},"description":"Beskriver en underkod till en behandlingsmetod."},"BTAvfall.REST.API.BehandlingsMetodFilter":{"type":"string","enum":["A","R","D"]},"Microsoft.AspNetCore.Mvc.ProblemDetails":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"securitySchemes":{"default":{"type":"oauth2","flows":{"implicit":{"authorizationUrl":"https://apim.naturvardsverket.se/authorize","scopes":{}}}}}}}